<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE">Demo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <h1>Site Header</h1>
</header>
<section data-layout-fragment="content">
    <p>Page content goes here</p>
</section>

<section>
    <p>Site Footer</p>
</section>
</body>
</html>